.container {
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 53px;
        display: flex;
        align-items: center;
        text-align: center;

        color: var(--txt-especial-5);

        span {
            color: var(--txt-especial-1) !important;
        }
    }

    .nossosegmento {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

}

@media (max-width: 1024px) {

    .container {
        flex-wrap: nowrap;
        padding: .5em;


        img {
            width: 10em;
        }



        h1 {
            font-size: 22px;
        }

  

        .nossosegmento {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    }
}